h1 a{
  text-decoration: none; color black;
}
h1{
  font-size: 60px; text-align: center;
  border-bottom: 7px groove limegreen;
  padding-bottom: 30px;
  margin-bottom: 0px;
}
#grid{
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
}
#article{
  padding-left: 100px;
  padding-right: 100px;
}
#article h2{
  font-size: 30px; text-align: center;
  margin-top: 50px;
}
#list{
  padding-left: 20px;
}
.content{
  border-right: 1px dotted limegreen;
}
